.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section {
  display: flex;
  align-items: flex-start;
}

.label {
  width: 120px;
  font-weight: bold;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 18px;
}

/* 고정 확장자 */
.fixed-label {
  display: inline-block;
  margin-right: 15px;
}

/* 커스텀 확장자 */
.custom-input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.custom-list-wrapper {
  margin-left: 140px;
  border: 1px solid #000000;
  border-radius: 6px;
  flex-grow: 1;
  min-height: 150px;
  max-height: 550px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  overflow: hidden;
  gap: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.custom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-grow: 1;
  overflow-y: auto;
}

.custom-length-label {
  margin-left: 10px;
  font-weight: bold;
  font-size: small;
  color: #7c7c7c;
}

.custom-item {
  display: inline-flex;
  align-items: center;
  font-size: small;
  color: #7c7c7c;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 5px;
}

.add-btn {
  border: none;
  border-radius: 6px;
  background-color: #a2a2a2;
  color: white;
}

.delete-btn {
  background: none;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  font-size: 14px;
}
